body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

h1 {
    margin: 20px;
}

.buttons button {
    margin: 5px;
    padding: 10px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 5px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}